$smallFontSize: 0.875rem;

.message {
  margin-bottom: 1rem;

  display: grid;
  grid-template-areas: "time sender systems message";
  grid-template-columns: 1fr repeat(2, 1fr) 1fr;

  @media (max-width: 978px) {
    grid-template-areas:
      "message message message"
      "sender time systems";
    grid-template-columns: 1fr 2fr 1fr;
  }

  &--time {
    grid-area: time;
    font-size: $smallFontSize;
  }

  &--sender {
    grid-area: sender;
    font-size: $smallFontSize;
  }

  &--systems {
    grid-area: systems;
    font-size: $smallFontSize;

    > button {
      color: hotpink;
    }
  }

  &--message {
    grid-area: message;

    @media (max-width: 978px) {
      margin-bottom: 0.5rem;
    }
  }
}
