.messages {
  &--select {
    display: flex;
    margin: 1rem 0;

    > select {
      border: 1px solid hotpink;
      background-color: #212121;
      color: hotpink;
      font-size: 1rem;
    }

    > * {
      margin: 0.5rem;
    }
  }
}
