$smallFontSize: 0.875rem;
$secondaryTextColor: darken(#ffffff, 30%);

.message {
  margin-bottom: 1rem;
  font-size: 1rem;

  display: grid;
  grid-template-areas: "time sender systems message";
  grid-template-columns: 7.5rem repeat(2, 7.5rem) 1fr;

  @media (max-width: 978px) {
    grid-template-areas:
      "message message message"
      "sender time systems";
    grid-template-columns: 1fr 2fr 1fr;
  }

  &--time {
    grid-area: time;
    font-size: $smallFontSize;
    color: $secondaryTextColor;
  }

  &--sender {
    grid-area: sender;
    font-size: $smallFontSize;
    color: $secondaryTextColor;
  }

  &--systems {
    grid-area: systems;
    font-size: $smallFontSize;

    > button {
      color: hotpink;
    }
  }

  &--message {
    grid-area: message;
    word-break: break-word;

    @media (max-width: 978px) {
      margin-bottom: 0.5rem;
    }
  }
}
