body {
  font-family: "Roboto", sans-serif;
  background-color: #212121;
  color: #ffffff;
  min-height: 100vh;
}

button {
  color: hotpink;
  background-color: #212121;
  border: none;
}

html {
  min-height: 100%;
}

#app {
  min-height: inherit;
}
